@font-face {
  font-family: 'MyFont';
  src: url('./VT323-Regular.ttf');
}
* {
  /* border: 1px solid brown; */
  font-family: 'MyFont', sans-serif;
  font-size: 1.2rem;

  /* playing with variables */
  --widget-width: 375px;
  --widget-window: calc( var(--widget-width) + 10 );
}
/* webpage css */
body {
  color: white;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem;
  margin: 0.5rem;
  min-width: 16rem;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: inherit;
  transition: 100ms;
}
.title-text {
  font-size: 3rem;
}
.avatar {
  border-radius: 50%;
  height: 3rem;
  border: 1px solid 190b30cb;
}
.intro {
  width: 80%;
}
/* widget css */
.widget {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-width: var(--widget-width, 375px);
  min-height: calc( var(--widget-width) / 1.618 );
  padding: 10px;
  user-select: none;
  cursor: pointer;
}
.now-temp {
  font-size: 4rem;
  display: flex;
  align-items: center;
}
.now-high-low-div {
  display: flex;
  align-items: center;
}
.condition-div {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}
.condition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.1rem;
}
.forecast-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
.day-1, .day-2, .day-3, .day-4, .day-5 {
  text-align: center;
}
.forecast-day-div {
  display: flex;
  flex-direction: column;
}
.forecast-high-low {
  display: flex;
}
.day {
  text-align: center;
}
.widget-window {
  overflow: hidden;
  display: flex;
  width: 397px;
  max-height: 254px;
  border: 1px solid cyan;
  border-radius: 10px;
  gap: 3px;
  position: relative;
  transition: 150ms;
}
.location-error {
  border-color: red;
}
.menu-div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid green; */
  border-radius: 10px;
  min-width: 395px;
  height: 250px;
  transition: .15s ease-out;
  background-color: rgba(31, 31, 31, 0.8);
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.open {
  transform: translate(-397px, 0);
}
label {
  font-size: 2rem;
  user-select: none;
}
input {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  text-align: center;
  width: 15rem;
  height: 5rem;
}
input:focus {
  outline: none;
  border-color: cyan;
}
button{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  padding: 3px;
  height: 2rem;
  width: 2rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid cyan;
}